$primary: #2291F1;
$secondary: #5E5F5F;
$danger: #ff3859;
$secondary-lighter: lighten($secondary, 50%);

html {
    height: 100%;
}

body {
    min-height: 100%;
}

table {
    border: 1px solid $secondary-lighter;
}

table.table-alternate {
    margin-top: 24px;
}

table.table-alternate tbody tr:hover {
    background-color: $secondary-lighter;
}

table.table-alternate tbody tr:nth-child(n + 1) {
    height: 40px;
}

table.table-row-lined tbody tr:nth-child(n + 1) {
    border-top: 1px solid $secondary-lighter;
}

a:focus, a:active {
    outline: none !important;
    box-shadow: none !important;
}

.content_item:hover {
    background-color: $secondary-lighter;
}

.content_item:nth-child(n + 1) {
    margin-top: 8px;
}

td.td-show-btn {
    width: 50px;
}

td.td-edit-btn {
    width: 50px;
}

td.td-destroy-btn {
    width: 60px;
}

@import "~bootstrap/scss/bootstrap";
